<div class="banners">
    <div class="banner">
        <div class="left">Free Shipping on Orders $75+ / 100% Satisfaction Guaranteed</div>
        <div class="right">{{> components/common/navigation}}</div>
    </div>
</div>
<header class="header" role="banner">
    <div class="header-row">
        <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
            <span class="mobileMenu-toggleIcon">Toggle menu</span>
        </a>
        <div class="store-logo">
            {{> components/common/store-logo}}
        </div>
        <div class="search">
            {{> components/common/quick-search}}
        </div>
        <div class="navPages-container" id="menu" data-menu>
            {{> components/common/navigation-menu}}
        </div>
    </div>
</header>
