// =============================================================================
// PRODUCT VIEW (CSS)
// =============================================================================


// Product view layout
// -----------------------------------------------------------------------------

.productView {
    //@include grid-row($behavior: "nest");
    //margin-left: -(spacing("base"));
    //margin-right: -(spacing("base"));

    clear: both;
    padding-top: 0;

    h1 {
        font-size: 28px;
        font-weight: 500;
        margin: 0 0 spacing("double");
    }
    .price--rrp {
        color: $color-greyMedium;
    }

    .price--withoutTax {
        color: $color-priceBase;
    }

    .price--onSale {
        color: #c00;
    }

    .modal & {
        padding-bottom: 0;
        padding-top: 0;
    }
    .form-select--small {
        background-color: #efefef;
        border: 1px solid #cccccc;
        border-radius: 0;
        margin-bottom: spacing("half");
    }
}

.productView--quickView {
    .socialLinks-item--print {
        display: none;
    }
}

.productView-images {
    @include grid-column(12);
    padding-left: spacing("base");
    padding-right: spacing("base");

    @include breakpoint("medium") {
        width: grid-calc(7, $total-columns);
    }
}

.productView-details {
    @include grid-column(12);
    padding-left: 3rem;
    padding-right: spacing("base");

    @include breakpoint("medium") {
        clear: right;
        float: right;
        width: grid-calc(5, $total-columns);
    }
}

.productView-description {
    font-size: 1.2rem;
    @include grid-column(12);
    padding-left: spacing("base");
    padding-right: spacing("base");

    @include breakpoint("large") {
        //clear: right;
        //float: right;
        //width: grid-calc(6, $total-columns);
    }
}
